.transfer {
    background-color: #f8f7f7;
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    max-width: 500px;
    min-height: 350px;
    overflow-y: auto;
    padding-bottom: 20px;
    position: relative;
    padding: 15px;
    justify-content: center;
    margin-top: 30px;
    box-shadow: 1px 1px 5px 0;
    position: relative;
    width: 300px;

    
    & .messege {
        color: red;
        margin-bottom: 8px;
        &.green{
            color: green;
            
        }

    }

    button {
        position: absolute;
        bottom: 15px;
        right: 15px;
        width: 300px;
    }
}