.heder {
    height: 50px;
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
    align-items: center;

    nav {
        padding-right: 20px;
        color: white;

        a {
            margin-right: 3px;
            margin-left: 3px;

            text-decoration: none;
            color: white;

            &.active {
                color: rgb(178, 201, 252);
                text-decoration: underline;
            }
        }
    }

    h1 {
        padding-left: 20px;
    }

}

