.contact-preview {
    background-color: #99b9ff5c;
    height: 60px;
    color: white;
    width: 682px;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    &:hover{
        box-shadow: -1px 0px 10px 3px rgb(255 255 255);
    }
    & .img-container{
        display: flex;
        & .name-container{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            font-size: 15px;
            color: black;
            padding-left: 7px;
        }
    }
    img {
        height: 100%;
        width: 50px;
        padding-left: 15px;
    }
    button{
        margin-right:15px ;
    }
}